In [11]:
# Import important library
import pandas as pd
import re
import numpy as np 

file_name = "M182191_female.csv"

# Read raw file
df = pd.read_csv(file_name)
print("Preview first 20 rows:")
print(df.head(20))

Preview first 20 rows:
                                           Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                             Theme: Economy & Prices        NaN        NaN
1   Subject: Labour, Employment, Wages and Product...        NaN        NaN
2                                   Topic: Employment        NaN        NaN
3   Table Title: Employed Female Residents Aged 15...        NaN        NaN
4                                                 NaN        NaN        NaN
5                       Data last updated: 28/01/2025        NaN        NaN
6                        Source: MINISTRY OF MANPOWER        NaN        NaN
7                                                 NaN        NaN        NaN
8                                                 NaN        NaN        NaN
9                                         Data Series      2024       2023
10  All Occupation Groups, (Total Employed Female ...     1127.6     1108.3
11    Managers & Administrators (Including Working...      162.2      146.5
12                                      Professionals      308.4      305.9
13              Associate Professionals & Technicians      241.7      236.2
14                           Clerical Support Workers      161.6      158.4
15                            Service & Sales Workers      139.7      145.4
16                  Craftsmen & Related Trade Workers        8.3       10.7
17             Plant & Machine Operators & Assemblers       11.6       12.3
18              Cleaners, Labourers & Related Workers       92.6       90.2
19                                             Others        1.6        2.8

   Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN        NaN
5         NaN        NaN        NaN        NaN        NaN        NaN
6         NaN        NaN        NaN        NaN        NaN        NaN
7         NaN        NaN        NaN        NaN        NaN        NaN
8         NaN        NaN        NaN        NaN        NaN        NaN
9       2022       2021       2020       2019       2018       2017
10     1094.2     1066.2     1024.6     1027.9     1006.5      985.9
11      164.2        144      136.9      133.9      122.4      118.3
12      283.6        277      243.7      231.4      213.3      208.6
13        241      230.7      226.5      224.7      222.5      211.4
14      162.2      171.4      163.9      180.9      181.1      189.5
15      133.3      132.5      144.7        146      147.2      139.7
16          9        9.8        8.7        8.9        9.1        8.9
17       13.3       14.5       14.5       14.6       17.5       15.5
18       85.1       84.4       84.2       85.1       90.2       92.1
19        2.3        1.8        1.4        2.4        3.2        1.9

   Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0         NaN  ...         NaN         NaN         NaN         NaN
1         NaN  ...         NaN         NaN         NaN         NaN
2         NaN  ...         NaN         NaN         NaN         NaN
3         NaN  ...         NaN         NaN         NaN         NaN
4         NaN  ...         NaN         NaN         NaN         NaN
5         NaN  ...         NaN         NaN         NaN         NaN
6         NaN  ...         NaN         NaN         NaN         NaN
7         NaN  ...         NaN         NaN         NaN         NaN
8         NaN  ...         NaN         NaN         NaN         NaN
9       2016   ...       2010        2009        2008        2007
10      986.9  ...       856.4       803.2       798.5       764.8
11      117.3  ...       119.7        96.7        95.1        85.4
12      204.7  ...       168.3       149.8       146.9       137.4
13      208.2  ...       136.3       151.5       146.3       137.7
14      184.9  ...       190.7       179.9       179.3       176.4
15      146.8  ...       125.6         111       114.2       110.6
16        9.4  ...         8.5         9.3         9.5         9.7
17       18.6  ...        26.3          28          31        33.3
18       95.1  ...        78.9        76.1        74.9          73
19        1.9  ...           2         0.9         1.2         1.5

   Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN         NaN    Thousand
9        2005        2004        2003        2002        2001        2000
10       687.6       671.3       656.6         636         644       593.1
11        67.8        67.1        63.3        60.9        58.7        58.4
12       117.4       105.6       109.4         102       101.6        89.6
13       120.2       116.5       110.5       104.7       105.6       100.4
14       165.5       171.6       168.2       168.1         171       155.7
15       118.4       100.2        92.7        91.5        97.2        82.6
16         9.1         7.9         8.3         8.9         8.1         9.4
17        38.9        41.6        44.3        44.2        44.3        47.6
18          48        58.8        58.3        54.7        55.9        47.2
19         2.3         1.9         1.6         1.1         1.7         2.3

[20 rows x 25 columns]

In [12]:
# Drop the first 9 rows
df = df.drop(index=range(0, 9)).reset_index(drop=True)
print("\nPreview after dropping first 10 rows:")
print(df.head(10))

Preview after dropping first 10 rows:
                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                        Data Series      2024       2023
1  All Occupation Groups, (Total Employed Female ...     1127.6     1108.3
2    Managers & Administrators (Including Working...      162.2      146.5
3                                      Professionals      308.4      305.9
4              Associate Professionals & Technicians      241.7      236.2
5                           Clerical Support Workers      161.6      158.4
6                            Service & Sales Workers      139.7      145.4
7                  Craftsmen & Related Trade Workers        8.3       10.7
8             Plant & Machine Operators & Assemblers       11.6       12.3
9              Cleaners, Labourers & Related Workers       92.6       90.2

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0      2022       2021       2020       2019       2018       2017
1     1094.2     1066.2     1024.6     1027.9     1006.5      985.9
2      164.2        144      136.9      133.9      122.4      118.3
3      283.6        277      243.7      231.4      213.3      208.6
4        241      230.7      226.5      224.7      222.5      211.4
5      162.2      171.4      163.9      180.9      181.1      189.5
6      133.3      132.5      144.7        146      147.2      139.7
7          9        9.8        8.7        8.9        9.1        8.9
8       13.3       14.5       14.5       14.6       17.5       15.5
9       85.1       84.4       84.2       85.1       90.2       92.1

  Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19  \
0      2016   ...       2010        2009        2008        2007        2005
1      986.9  ...       856.4       803.2       798.5       764.8       687.6
2      117.3  ...       119.7        96.7        95.1        85.4        67.8
3      204.7  ...       168.3       149.8       146.9       137.4       117.4
4      208.2  ...       136.3       151.5       146.3       137.7       120.2
5      184.9  ...       190.7       179.9       179.3       176.4       165.5
6      146.8  ...       125.6         111       114.2       110.6       118.4
7        9.4  ...         8.5         9.3         9.5         9.7         9.1
8       18.6  ...        26.3          28          31        33.3        38.9
9       95.1  ...        78.9        76.1        74.9          73          48

  Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
0       2004        2003        2002        2001        2000
1       671.3       656.6         636         644       593.1
2        67.1        63.3        60.9        58.7        58.4
3       105.6       109.4         102       101.6        89.6
4       116.5       110.5       104.7       105.6       100.4
5       171.6       168.2       168.1         171       155.7
6       100.2        92.7        91.5        97.2        82.6
7         7.9         8.3         8.9         8.1         9.4
8        41.6        44.3        44.2        44.3        47.6
9        58.8        58.3        54.7        55.9        47.2

[10 rows x 25 columns]

In [13]:
# Preview the last 50 rows to see the file structure
print("\nPreview last 50 rows:")
print(df.tail(50))

Preview last 50 rows:
                                            Unnamed: 0 Unnamed: 1 Unnamed: 2  \
115                           Clerical Support Workers       16.4       14.5
116                            Service & Sales Workers       21.8       17.6
117                  Craftsmen & Related Trade Workers        1.9        1.5
118             Plant & Machine Operators & Assemblers        1.7        1.8
119              Cleaners, Labourers & Related Workers       39.4       33.5
120                                             Others        0.3        0.3
121                                                NaN        NaN        NaN
122                         Definitions and Footnotes:        NaN        NaN
123  Residents comprise Singapore citizens and perm...        NaN        NaN
124  All Occupation Groups, (Total Employed Female ...        NaN        NaN
125  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
126  Employed Female Residents Aged 15 - 19 Years -...        NaN        NaN
127  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
128  Employed Female Residents Aged 20 - 24 Years -...        NaN        NaN
129  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
130  Employed Female Residents Aged 25 - 29 Years -...        NaN        NaN
131  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
132  Employed Female Residents Aged 30 - 34 Years -...        NaN        NaN
133  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
134  Employed Female Residents Aged 35 - 39 Years -...        NaN        NaN
135  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
136  Employed Female Residents Aged 40 - 44 Years -...        NaN        NaN
137  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
138  Employed Female Residents Aged 45 - 49 Years -...        NaN        NaN
139  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
140  Employed Female Residents Aged 50 - 54 Years -...        NaN        NaN
141  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
142  Employed Female Residents Aged 55 - 59 Years -...        NaN        NaN
143  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
144  Employed Female Residents Aged 60 - 64 Years -...        NaN        NaN
145  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
146  Employed Female Residents Aged 65 Years & Over...        NaN        NaN
147  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
148                                                NaN        NaN        NaN
149                                        Occupation:        NaN        NaN
150  Occupation of a working person refers to the k...        NaN        NaN
151                                                NaN        NaN        NaN
152                                          Notation:        NaN        NaN
153               na   not available or not applicable        NaN        NaN
154                      nec  not elsewhere classified        NaN        NaN
155                       nes  not elsewhere specified        NaN        NaN
156         -     nil or negligible or not significant        NaN        NaN
157                                              Notes        NaN        NaN
158  Numbers may not add up to the totals due to ro...        NaN        NaN
159  Data are the latest available at the time of a...        NaN        NaN
160  Values are shown in Singapore dollars (unless ...        NaN        NaN
161                                                NaN        NaN        NaN
162               Generated by: SingStat Table Builder        NaN        NaN
163                         Date generated: 27/09/2025        NaN        NaN
164                      Contact: info@singstat.gov.sg        NaN        NaN

    Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
115       14.6         13       10.8        9.7        7.2        7.3
116       16.4       15.5       14.3       12.2       11.6       10.4
117        1.8        1.6        1.6        1.5          1        0.9
118          2        1.5        1.5        1.3        1.3        1.3
119         30       29.2         27       23.9       24.1       24.5
120        0.3        0.3        0.1        0.2        0.2        0.1
121        NaN        NaN        NaN        NaN        NaN        NaN
122        NaN        NaN        NaN        NaN        NaN        NaN
123        NaN        NaN        NaN        NaN        NaN        NaN
124        NaN        NaN        NaN        NaN        NaN        NaN
125        NaN        NaN        NaN        NaN        NaN        NaN
126        NaN        NaN        NaN        NaN        NaN        NaN
127        NaN        NaN        NaN        NaN        NaN        NaN
128        NaN        NaN        NaN        NaN        NaN        NaN
129        NaN        NaN        NaN        NaN        NaN        NaN
130        NaN        NaN        NaN        NaN        NaN        NaN
131        NaN        NaN        NaN        NaN        NaN        NaN
132        NaN        NaN        NaN        NaN        NaN        NaN
133        NaN        NaN        NaN        NaN        NaN        NaN
134        NaN        NaN        NaN        NaN        NaN        NaN
135        NaN        NaN        NaN        NaN        NaN        NaN
136        NaN        NaN        NaN        NaN        NaN        NaN
137        NaN        NaN        NaN        NaN        NaN        NaN
138        NaN        NaN        NaN        NaN        NaN        NaN
139        NaN        NaN        NaN        NaN        NaN        NaN
140        NaN        NaN        NaN        NaN        NaN        NaN
141        NaN        NaN        NaN        NaN        NaN        NaN
142        NaN        NaN        NaN        NaN        NaN        NaN
143        NaN        NaN        NaN        NaN        NaN        NaN
144        NaN        NaN        NaN        NaN        NaN        NaN
145        NaN        NaN        NaN        NaN        NaN        NaN
146        NaN        NaN        NaN        NaN        NaN        NaN
147        NaN        NaN        NaN        NaN        NaN        NaN
148        NaN        NaN        NaN        NaN        NaN        NaN
149        NaN        NaN        NaN        NaN        NaN        NaN
150        NaN        NaN        NaN        NaN        NaN        NaN
151        NaN        NaN        NaN        NaN        NaN        NaN
152        NaN        NaN        NaN        NaN        NaN        NaN
153        NaN        NaN        NaN        NaN        NaN        NaN
154        NaN        NaN        NaN        NaN        NaN        NaN
155        NaN        NaN        NaN        NaN        NaN        NaN
156        NaN        NaN        NaN        NaN        NaN        NaN
157        NaN        NaN        NaN        NaN        NaN        NaN
158        NaN        NaN        NaN        NaN        NaN        NaN
159        NaN        NaN        NaN        NaN        NaN        NaN
160        NaN        NaN        NaN        NaN        NaN        NaN
161        NaN        NaN        NaN        NaN        NaN        NaN
162        NaN        NaN        NaN        NaN        NaN        NaN
163        NaN        NaN        NaN        NaN        NaN        NaN
164        NaN        NaN        NaN        NaN        NaN        NaN

    Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
115        5.9  ...         1.1         1.1         0.8         0.8
116        9.1  ...         3.6         3.4         3.2         3.1
117        0.8  ...         0.8         0.2         0.2         0.1
118        1.5  ...         0.5         0.5         0.7         0.7
119       21.6  ...         9.5         9.3         8.6         7.4
120          -  ...           -           -           -           -
121        NaN  ...         NaN         NaN         NaN         NaN
122        NaN  ...         NaN         NaN         NaN         NaN
123        NaN  ...         NaN         NaN         NaN         NaN
124        NaN  ...         NaN         NaN         NaN         NaN
125        NaN  ...         NaN         NaN         NaN         NaN
126        NaN  ...         NaN         NaN         NaN         NaN
127        NaN  ...         NaN         NaN         NaN         NaN
128        NaN  ...         NaN         NaN         NaN         NaN
129        NaN  ...         NaN         NaN         NaN         NaN
130        NaN  ...         NaN         NaN         NaN         NaN
131        NaN  ...         NaN         NaN         NaN         NaN
132        NaN  ...         NaN         NaN         NaN         NaN
133        NaN  ...         NaN         NaN         NaN         NaN
134        NaN  ...         NaN         NaN         NaN         NaN
135        NaN  ...         NaN         NaN         NaN         NaN
136        NaN  ...         NaN         NaN         NaN         NaN
137        NaN  ...         NaN         NaN         NaN         NaN
138        NaN  ...         NaN         NaN         NaN         NaN
139        NaN  ...         NaN         NaN         NaN         NaN
140        NaN  ...         NaN         NaN         NaN         NaN
141        NaN  ...         NaN         NaN         NaN         NaN
142        NaN  ...         NaN         NaN         NaN         NaN
143        NaN  ...         NaN         NaN         NaN         NaN
144        NaN  ...         NaN         NaN         NaN         NaN
145        NaN  ...         NaN         NaN         NaN         NaN
146        NaN  ...         NaN         NaN         NaN         NaN
147        NaN  ...         NaN         NaN         NaN         NaN
148        NaN  ...         NaN         NaN         NaN         NaN
149        NaN  ...         NaN         NaN         NaN         NaN
150        NaN  ...         NaN         NaN         NaN         NaN
151        NaN  ...         NaN         NaN         NaN         NaN
152        NaN  ...         NaN         NaN         NaN         NaN
153        NaN  ...         NaN         NaN         NaN         NaN
154        NaN  ...         NaN         NaN         NaN         NaN
155        NaN  ...         NaN         NaN         NaN         NaN
156        NaN  ...         NaN         NaN         NaN         NaN
157        NaN  ...         NaN         NaN         NaN         NaN
158        NaN  ...         NaN         NaN         NaN         NaN
159        NaN  ...         NaN         NaN         NaN         NaN
160        NaN  ...         NaN         NaN         NaN         NaN
161        NaN  ...         NaN         NaN         NaN         NaN
162        NaN  ...         NaN         NaN         NaN         NaN
163        NaN  ...         NaN         NaN         NaN         NaN
164        NaN  ...         NaN         NaN         NaN         NaN

    Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
115         0.4         0.4         0.2         0.4         0.2         0.1
116           2         1.8         1.4         1.6         2.2         1.5
117         0.2         0.1         0.1         0.1         0.2         0.1
118         0.3         0.1         0.3         0.2         0.1         0.2
119         3.8         4.1         4.4         3.6         3.2         2.8
120         0.1           -           -           -         0.1           -
121         NaN         NaN         NaN         NaN         NaN         NaN
122         NaN         NaN         NaN         NaN         NaN         NaN
123         NaN         NaN         NaN         NaN         NaN         NaN
124         NaN         NaN         NaN         NaN         NaN         NaN
125         NaN         NaN         NaN         NaN         NaN         NaN
126         NaN         NaN         NaN         NaN         NaN         NaN
127         NaN         NaN         NaN         NaN         NaN         NaN
128         NaN         NaN         NaN         NaN         NaN         NaN
129         NaN         NaN         NaN         NaN         NaN         NaN
130         NaN         NaN         NaN         NaN         NaN         NaN
131         NaN         NaN         NaN         NaN         NaN         NaN
132         NaN         NaN         NaN         NaN         NaN         NaN
133         NaN         NaN         NaN         NaN         NaN         NaN
134         NaN         NaN         NaN         NaN         NaN         NaN
135         NaN         NaN         NaN         NaN         NaN         NaN
136         NaN         NaN         NaN         NaN         NaN         NaN
137         NaN         NaN         NaN         NaN         NaN         NaN
138         NaN         NaN         NaN         NaN         NaN         NaN
139         NaN         NaN         NaN         NaN         NaN         NaN
140         NaN         NaN         NaN         NaN         NaN         NaN
141         NaN         NaN         NaN         NaN         NaN         NaN
142         NaN         NaN         NaN         NaN         NaN         NaN
143         NaN         NaN         NaN         NaN         NaN         NaN
144         NaN         NaN         NaN         NaN         NaN         NaN
145         NaN         NaN         NaN         NaN         NaN         NaN
146         NaN         NaN         NaN         NaN         NaN         NaN
147         NaN         NaN         NaN         NaN         NaN         NaN
148         NaN         NaN         NaN         NaN         NaN         NaN
149         NaN         NaN         NaN         NaN         NaN         NaN
150         NaN         NaN         NaN         NaN         NaN         NaN
151         NaN         NaN         NaN         NaN         NaN         NaN
152         NaN         NaN         NaN         NaN         NaN         NaN
153         NaN         NaN         NaN         NaN         NaN         NaN
154         NaN         NaN         NaN         NaN         NaN         NaN
155         NaN         NaN         NaN         NaN         NaN         NaN
156         NaN         NaN         NaN         NaN         NaN         NaN
157         NaN         NaN         NaN         NaN         NaN         NaN
158         NaN         NaN         NaN         NaN         NaN         NaN
159         NaN         NaN         NaN         NaN         NaN         NaN
160         NaN         NaN         NaN         NaN         NaN         NaN
161         NaN         NaN         NaN         NaN         NaN         NaN
162         NaN         NaN         NaN         NaN         NaN         NaN
163         NaN         NaN         NaN         NaN         NaN         NaN
164         NaN         NaN         NaN         NaN         NaN         NaN

[50 rows x 25 columns]

In [14]:
# Keep only the first 121 rows (based on inspection)
df = df.iloc[:121].reset_index(drop=True)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Data Series,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,2010,2009,2008,2007,2005,2004,2003,2002,2001,2000
1,"All Occupation Groups, (Total Employed Female ...",1127.6,1108.3,1094.2,1066.2,1024.6,1027.9,1006.5,985.9,986.9,...,856.4,803.2,798.5,764.8,687.6,671.3,656.6,636,644,593.1
2,Managers & Administrators (Including Working...,162.2,146.5,164.2,144,136.9,133.9,122.4,118.3,117.3,...,119.7,96.7,95.1,85.4,67.8,67.1,63.3,60.9,58.7,58.4
3,Professionals,308.4,305.9,283.6,277,243.7,231.4,213.3,208.6,204.7,...,168.3,149.8,146.9,137.4,117.4,105.6,109.4,102,101.6,89.6
4,Associate Professionals & Technicians,241.7,236.2,241,230.7,226.5,224.7,222.5,211.4,208.2,...,136.3,151.5,146.3,137.7,120.2,116.5,110.5,104.7,105.6,100.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,Service & Sales Workers,21.8,17.6,16.4,15.5,14.3,12.2,11.6,10.4,9.1,...,3.6,3.4,3.2,3.1,2,1.8,1.4,1.6,2.2,1.5
117,Craftsmen & Related Trade Workers,1.9,1.5,1.8,1.6,1.6,1.5,1,0.9,0.8,...,0.8,0.2,0.2,0.1,0.2,0.1,0.1,0.1,0.2,0.1
118,Plant & Machine Operators & Assemblers,1.7,1.8,2,1.5,1.5,1.3,1.3,1.3,1.5,...,0.5,0.5,0.7,0.7,0.3,0.1,0.3,0.2,0.1,0.2
119,"Cleaners, Labourers & Related Workers",39.4,33.5,30,29.2,27,23.9,24.1,24.5,21.6,...,9.5,9.3,8.6,7.4,3.8,4.1,4.4,3.6,3.2,2.8
120,Others,0.3,0.3,0.3,0.3,0.1,0.2,0.2,0.1,-,...,-,-,-,-,0.1,-,-,-,0.1,-

In [15]:
# Use the first row as header
df.columns = df.iloc[0]
df = df.drop(0).reset_index(drop=True)

print("\nData after setting header row:")
print(df.head(10))

Data after setting header row:
0                                        Data Series   2024    2023    2022   \
0  All Occupation Groups, (Total Employed Female ...  1127.6  1108.3  1094.2
1    Managers & Administrators (Including Working...   162.2   146.5   164.2
2                                      Professionals   308.4   305.9   283.6
3              Associate Professionals & Technicians   241.7   236.2     241
4                           Clerical Support Workers   161.6   158.4   162.2
5                            Service & Sales Workers   139.7   145.4   133.3
6                  Craftsmen & Related Trade Workers     8.3    10.7       9
7             Plant & Machine Operators & Assemblers    11.6    12.3    13.3
8              Cleaners, Labourers & Related Workers    92.6    90.2    85.1
9                                             Others     1.6     2.8     2.3

0   2021    2020    2019    2018   2017   2016   ...  2010   2009   2008   \
0  1066.2  1024.6  1027.9  1006.5  985.9  986.9  ...  856.4  803.2  798.5
1     144   136.9   133.9   122.4  118.3  117.3  ...  119.7   96.7   95.1
2     277   243.7   231.4   213.3  208.6  204.7  ...  168.3  149.8  146.9
3   230.7   226.5   224.7   222.5  211.4  208.2  ...  136.3  151.5  146.3
4   171.4   163.9   180.9   181.1  189.5  184.9  ...  190.7  179.9  179.3
5   132.5   144.7     146   147.2  139.7  146.8  ...  125.6    111  114.2
6     9.8     8.7     8.9     9.1    8.9    9.4  ...    8.5    9.3    9.5
7    14.5    14.5    14.6    17.5   15.5   18.6  ...   26.3     28     31
8    84.4    84.2    85.1    90.2   92.1   95.1  ...   78.9   76.1   74.9
9     1.8     1.4     2.4     3.2    1.9    1.9  ...      2    0.9    1.2

0  2007   2005   2004   2003   2002   2001   2000
0  764.8  687.6  671.3  656.6    636    644  593.1
1   85.4   67.8   67.1   63.3   60.9   58.7   58.4
2  137.4  117.4  105.6  109.4    102  101.6   89.6
3  137.7  120.2  116.5  110.5  104.7  105.6  100.4
4  176.4  165.5  171.6  168.2  168.1    171  155.7
5  110.6  118.4  100.2   92.7   91.5   97.2   82.6
6    9.7    9.1    7.9    8.3    8.9    8.1    9.4
7   33.3   38.9   41.6   44.3   44.2   44.3   47.6
8     73     48   58.8   58.3   54.7   55.9   47.2
9    1.5    2.3    1.9    1.6    1.1    1.7    2.3

[10 rows x 25 columns]

In [16]:
# Preview column name
print(df.columns)

# Standardize the column name
clean_column = []
for c in df.columns:
    text = str(c).strip()                 
    match = re.search(r"(19|20)\d{2}", text)  
    if match:
        clean_column.append(match.group(0))     
    else:
        clean_column.append(text)               

df.columns = clean_column
print(df.columns)

Index(['Data Series', '2024 ', '2023 ', '2022 ', '2021 ', '2020 ', '2019 ',
       '2018 ', '2017 ', '2016 ', '2015 ', '2014 ', '2013 ', '2012 ', '2011 ',
       '2010 ', '2009 ', '2008 ', '2007 ', '2005 ', '2004 ', '2003 ', '2002 ',
       '2001 ', '2000 '],
      dtype='object', name=0)
Index(['Data Series', '2024', '2023', '2022', '2021', '2020', '2019', '2018',
       '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009',
       '2008', '2007', '2005', '2004', '2003', '2002', '2001', '2000'],
      dtype='object')

In [17]:
# Split age group and occupation category
age_group, occupation = [], []
current_age = None

for raw_val in df["Data Series"].fillna("").astype(str):
    s = raw_val.strip()
    if s == "":
        age_group.append(np.nan)
        occupation.append(np.nan)
        continue

    if "Employed Female Residents Aged" in s and not raw_val.startswith("  "):
        current_age = s
        age_group.append(current_age)
        occupation.append("Total (All Occupations)")
    elif "All Occupation Groups, (Total Employed Female Residents)" in s:
        if current_age is None:
            current_age = "All Ages (All Employed Residents)"
        age_group.append(current_age)
        occupation.append("Total (All Occupations)")
    else:
        if current_age is None:
            current_age = "All Ages (All Employed Residents)"
        age_group.append(current_age)
        occupation.append(s)

In [18]:
# Build cleaned dataset
clean_data = df.copy()
clean_data.insert(0, "Occupation", occupation)
clean_data.insert(0, "Age Group", age_group)
# Drop "Data Series" column
clean_data = clean_data.drop(columns=["Data Series"])
clean_data

,Age Group,Occupation,2024,2023,2022,2021,2020,2019,2018,2017,...,2010,2009,2008,2007,2005,2004,2003,2002,2001,2000
0,All Ages (All Employed Residents),Total (All Occupations),1127.6,1108.3,1094.2,1066.2,1024.6,1027.9,1006.5,985.9,...,856.4,803.2,798.5,764.8,687.6,671.3,656.6,636,644,593.1
1,All Ages (All Employed Residents),Managers & Administrators (Including Working P...,162.2,146.5,164.2,144,136.9,133.9,122.4,118.3,...,119.7,96.7,95.1,85.4,67.8,67.1,63.3,60.9,58.7,58.4
2,All Ages (All Employed Residents),Professionals,308.4,305.9,283.6,277,243.7,231.4,213.3,208.6,...,168.3,149.8,146.9,137.4,117.4,105.6,109.4,102,101.6,89.6
3,All Ages (All Employed Residents),Associate Professionals & Technicians,241.7,236.2,241,230.7,226.5,224.7,222.5,211.4,...,136.3,151.5,146.3,137.7,120.2,116.5,110.5,104.7,105.6,100.4
4,All Ages (All Employed Residents),Clerical Support Workers,161.6,158.4,162.2,171.4,163.9,180.9,181.1,189.5,...,190.7,179.9,179.3,176.4,165.5,171.6,168.2,168.1,171,155.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Employed Female Residents Aged 65 Years & Over,Service & Sales Workers,21.8,17.6,16.4,15.5,14.3,12.2,11.6,10.4,...,3.6,3.4,3.2,3.1,2,1.8,1.4,1.6,2.2,1.5
116,Employed Female Residents Aged 65 Years & Over,Craftsmen & Related Trade Workers,1.9,1.5,1.8,1.6,1.6,1.5,1,0.9,...,0.8,0.2,0.2,0.1,0.2,0.1,0.1,0.1,0.2,0.1
117,Employed Female Residents Aged 65 Years & Over,Plant & Machine Operators & Assemblers,1.7,1.8,2,1.5,1.5,1.3,1.3,1.3,...,0.5,0.5,0.7,0.7,0.3,0.1,0.3,0.2,0.1,0.2
118,Employed Female Residents Aged 65 Years & Over,"Cleaners, Labourers & Related Workers",39.4,33.5,30,29.2,27,23.9,24.1,24.5,...,9.5,9.3,8.6,7.4,3.8,4.1,4.4,3.6,3.2,2.8
119,Employed Female Residents Aged 65 Years & Over,Others,0.3,0.3,0.3,0.3,0.1,0.2,0.2,0.1,...,-,-,-,-,0.1,-,-,-,0.1,-

In [19]:
clean_data["Occupation"].unique()

array(['Total (All Occupations)',
       'Managers & Administrators (Including Working Proprietors)',
       'Professionals', 'Associate Professionals & Technicians',
       'Clerical Support Workers', 'Service & Sales Workers',
       'Craftsmen & Related Trade Workers',
       'Plant & Machine Operators & Assemblers',
       'Cleaners, Labourers & Related Workers', 'Others'], dtype=object)

In [20]:
# Optional --> Save file to csv
clean_data.to_csv("clean_data_female.csv", index=False)