In [86]:
# Import important library
import pandas as pd
import re
import numpy as np 

file_name = "M182181_male.csv"

# Read raw file
df = pd.read_csv(file_name)
print("Preview first 20 rows:")
print(df.head(20))

Preview first 20 rows:
                                           Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                             Theme: Economy & Prices        NaN        NaN
1   Subject: Labour, Employment, Wages and Product...        NaN        NaN
2                                   Topic: Employment        NaN        NaN
3   Table Title: Employed Male Residents Aged 15 Y...        NaN        NaN
4                                                 NaN        NaN        NaN
5                       Data last updated: 28/01/2025        NaN        NaN
6                        Source: MINISTRY OF MANPOWER        NaN        NaN
7                                                 NaN        NaN        NaN
8                                                 NaN        NaN        NaN
9                                         Data Series      2024       2023
10  All Occupation Groups, (Total Employed Male Re...       1238       1244
11    Managers & Administrators (Including Working...      242.6      223.4
12                                      Professionals      311.5      314.7
13              Associate Professionals & Technicians      241.5      246.3
14                           Clerical Support Workers         48       49.5
15                            Service & Sales Workers      102.1      112.6
16                  Craftsmen & Related Trade Workers       46.5         48
17             Plant & Machine Operators & Assemblers      116.8      119.7
18              Cleaners, Labourers & Related Workers       73.1         72
19                                             Others       55.8       57.9

   Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN        NaN
5         NaN        NaN        NaN        NaN        NaN        NaN
6         NaN        NaN        NaN        NaN        NaN        NaN
7         NaN        NaN        NaN        NaN        NaN        NaN
8         NaN        NaN        NaN        NaN        NaN        NaN
9       2022       2021       2020       2019       2018       2017
10     1256.2     1220.3     1198.1     1202.5     1197.2     1189.4
11      243.5      233.6      231.4        231      219.2      230.6
12      317.3      300.5      260.5        238        236        229
13      244.6      235.1      231.7      243.2      242.5      224.8
14       49.6         52       51.7       56.3       59.9       58.4
15      107.9      106.8      107.6      111.7      115.5      108.3
16       44.3       48.1       53.7       58.8       60.9       67.1
17      122.4      122.5      137.2      136.8      130.4        136
18       73.2       67.1       65.3       64.4       66.2       68.4
19       53.5       54.7         59       62.4       66.6         67

   Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0         NaN  ...         NaN         NaN         NaN         NaN
1         NaN  ...         NaN         NaN         NaN         NaN
2         NaN  ...         NaN         NaN         NaN         NaN
3         NaN  ...         NaN         NaN         NaN         NaN
4         NaN  ...         NaN         NaN         NaN         NaN
5         NaN  ...         NaN         NaN         NaN         NaN
6         NaN  ...         NaN         NaN         NaN         NaN
7         NaN  ...         NaN         NaN         NaN         NaN
8         NaN  ...         NaN         NaN         NaN         NaN
9       2016   ...       2010        2009        2008        2007
10     1178.4  ...      1106.6      1066.2      1053.6      1038.4
11      220.2  ...       232.7       214.1       208.2       195.9
12      215.1  ...       207.4         192       187.6       172.3
13      229.9  ...       167.1       158.2       161.5       151.8
14         60  ...        52.9        56.6        57.7        54.8
15      115.6  ...       108.9       107.9       105.1       114.9
16       69.8  ...          78        79.4        81.3        85.9
17      132.6  ...       126.3       130.4       126.4       130.7
18       65.6  ...        66.6        64.9        63.7        70.6
19       69.7  ...        66.7        62.6        62.2        61.6

   Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN         NaN    Thousand
9        2005        2004        2003        2002        2001        2000
10       959.7       960.8       948.7       937.7       938.4       889.5
11       163.9       174.9       179.9       172.4       174.6         163
12       141.5       144.3       137.7       134.3       131.4       106.9
13       135.5       143.3       130.3       129.7       132.6       134.1
14        55.3        48.8        50.9        49.8        50.9        49.2
15         126       103.3       104.1       107.3       103.5       102.1
16       101.9        89.3        89.7        96.2        94.4        97.9
17       130.9       122.6       122.4         127       129.3       128.1
18        51.3        65.1        65.6        60.1        58.6        56.6
19        53.6        69.3        68.2        60.9        63.2        51.6

[20 rows x 25 columns]

In [87]:
# Drop the first 9 rows
df = df.drop(index=range(0, 9)).reset_index(drop=True)
print("\nPreview after dropping first 10 rows:")
print(df.head(10))

Preview after dropping first 10 rows:
                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                        Data Series      2024       2023
1  All Occupation Groups, (Total Employed Male Re...       1238       1244
2    Managers & Administrators (Including Working...      242.6      223.4
3                                      Professionals      311.5      314.7
4              Associate Professionals & Technicians      241.5      246.3
5                           Clerical Support Workers         48       49.5
6                            Service & Sales Workers      102.1      112.6
7                  Craftsmen & Related Trade Workers       46.5         48
8             Plant & Machine Operators & Assemblers      116.8      119.7
9              Cleaners, Labourers & Related Workers       73.1         72

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0      2022       2021       2020       2019       2018       2017
1     1256.2     1220.3     1198.1     1202.5     1197.2     1189.4
2      243.5      233.6      231.4        231      219.2      230.6
3      317.3      300.5      260.5        238        236        229
4      244.6      235.1      231.7      243.2      242.5      224.8
5       49.6         52       51.7       56.3       59.9       58.4
6      107.9      106.8      107.6      111.7      115.5      108.3
7       44.3       48.1       53.7       58.8       60.9       67.1
8      122.4      122.5      137.2      136.8      130.4        136
9       73.2       67.1       65.3       64.4       66.2       68.4

  Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19  \
0      2016   ...       2010        2009        2008        2007        2005
1     1178.4  ...      1106.6      1066.2      1053.6      1038.4       959.7
2      220.2  ...       232.7       214.1       208.2       195.9       163.9
3      215.1  ...       207.4         192       187.6       172.3       141.5
4      229.9  ...       167.1       158.2       161.5       151.8       135.5
5         60  ...        52.9        56.6        57.7        54.8        55.3
6      115.6  ...       108.9       107.9       105.1       114.9         126
7       69.8  ...          78        79.4        81.3        85.9       101.9
8      132.6  ...       126.3       130.4       126.4       130.7       130.9
9       65.6  ...        66.6        64.9        63.7        70.6        51.3

  Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
0       2004        2003        2002        2001        2000
1       960.8       948.7       937.7       938.4       889.5
2       174.9       179.9       172.4       174.6         163
3       144.3       137.7       134.3       131.4       106.9
4       143.3       130.3       129.7       132.6       134.1
5        48.8        50.9        49.8        50.9        49.2
6       103.3       104.1       107.3       103.5       102.1
7        89.3        89.7        96.2        94.4        97.9
8       122.6       122.4         127       129.3       128.1
9        65.1        65.6        60.1        58.6        56.6

[10 rows x 25 columns]

In [88]:
# Preview the last 50 rows to see the file structure
print("\nPreview last 50 rows:")
print(df.tail(50))

Preview last 50 rows:
                                            Unnamed: 0 Unnamed: 1 Unnamed: 2  \
115                           Clerical Support Workers        7.7        7.1
116                            Service & Sales Workers       20.9         21
117                  Craftsmen & Related Trade Workers       10.3        8.8
118             Plant & Machine Operators & Assemblers       27.2       24.2
119              Cleaners, Labourers & Related Workers       32.6       26.3
120                                             Others        1.3        1.7
121                                                NaN        NaN        NaN
122                         Definitions and Footnotes:        NaN        NaN
123  Residents comprise Singapore citizens and perm...        NaN        NaN
124  All Occupation Groups, (Total Employed Male Re...        NaN        NaN
125  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
126  Employed Male Residents Aged 15 - 19 Years -> ...        NaN        NaN
127  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
128  Employed Male Residents Aged 20 - 24 Years -> ...        NaN        NaN
129  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
130  Employed Male Residents Aged 25 - 29 Years -> ...        NaN        NaN
131  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
132  Employed Male Residents Aged 30 - 34 Years -> ...        NaN        NaN
133  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
134  Employed Male Residents Aged 35 - 39 Years -> ...        NaN        NaN
135  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
136  Employed Male Residents Aged 40 - 44 Years -> ...        NaN        NaN
137  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
138  Employed Male Residents Aged 45 - 49 Years -> ...        NaN        NaN
139  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
140  Employed Male Residents Aged 50 - 54 Years -> ...        NaN        NaN
141  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
142  Employed Male Residents Aged 55 - 59 Years -> ...        NaN        NaN
143  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
144  Employed Male Residents Aged 60 - 64 Years -> ...        NaN        NaN
145  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
146  Employed Male Residents Aged 65 Years & Over -...        NaN        NaN
147  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
148                                                NaN        NaN        NaN
149                                        Occupation:        NaN        NaN
150  Occupation of a working person refers to the k...        NaN        NaN
151                                                NaN        NaN        NaN
152                                          Notation:        NaN        NaN
153               na   not available or not applicable        NaN        NaN
154                      nec  not elsewhere classified        NaN        NaN
155                       nes  not elsewhere specified        NaN        NaN
156         -     nil or negligible or not significant        NaN        NaN
157                                              Notes        NaN        NaN
158  Numbers may not add up to the totals due to ro...        NaN        NaN
159  Data are the latest available at the time of a...        NaN        NaN
160  Values are shown in Singapore dollars (unless ...        NaN        NaN
161                                                NaN        NaN        NaN
162               Generated by: SingStat Table Builder        NaN        NaN
163                         Date generated: 27/09/2025        NaN        NaN
164                      Contact: info@singstat.gov.sg        NaN        NaN

    Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
115        6.7        6.6        5.8        6.3          6        5.5
116       19.2       18.4       17.2       13.2       14.1         14
117        7.7        8.5          8        7.1          7        6.2
118       25.4       21.2       20.4       20.1       16.9       16.5
119       23.8       22.3       21.5       19.1       18.3       21.2
120        0.8        1.2        1.1        0.7        0.8        0.8
121        NaN        NaN        NaN        NaN        NaN        NaN
122        NaN        NaN        NaN        NaN        NaN        NaN
123        NaN        NaN        NaN        NaN        NaN        NaN
124        NaN        NaN        NaN        NaN        NaN        NaN
125        NaN        NaN        NaN        NaN        NaN        NaN
126        NaN        NaN        NaN        NaN        NaN        NaN
127        NaN        NaN        NaN        NaN        NaN        NaN
128        NaN        NaN        NaN        NaN        NaN        NaN
129        NaN        NaN        NaN        NaN        NaN        NaN
130        NaN        NaN        NaN        NaN        NaN        NaN
131        NaN        NaN        NaN        NaN        NaN        NaN
132        NaN        NaN        NaN        NaN        NaN        NaN
133        NaN        NaN        NaN        NaN        NaN        NaN
134        NaN        NaN        NaN        NaN        NaN        NaN
135        NaN        NaN        NaN        NaN        NaN        NaN
136        NaN        NaN        NaN        NaN        NaN        NaN
137        NaN        NaN        NaN        NaN        NaN        NaN
138        NaN        NaN        NaN        NaN        NaN        NaN
139        NaN        NaN        NaN        NaN        NaN        NaN
140        NaN        NaN        NaN        NaN        NaN        NaN
141        NaN        NaN        NaN        NaN        NaN        NaN
142        NaN        NaN        NaN        NaN        NaN        NaN
143        NaN        NaN        NaN        NaN        NaN        NaN
144        NaN        NaN        NaN        NaN        NaN        NaN
145        NaN        NaN        NaN        NaN        NaN        NaN
146        NaN        NaN        NaN        NaN        NaN        NaN
147        NaN        NaN        NaN        NaN        NaN        NaN
148        NaN        NaN        NaN        NaN        NaN        NaN
149        NaN        NaN        NaN        NaN        NaN        NaN
150        NaN        NaN        NaN        NaN        NaN        NaN
151        NaN        NaN        NaN        NaN        NaN        NaN
152        NaN        NaN        NaN        NaN        NaN        NaN
153        NaN        NaN        NaN        NaN        NaN        NaN
154        NaN        NaN        NaN        NaN        NaN        NaN
155        NaN        NaN        NaN        NaN        NaN        NaN
156        NaN        NaN        NaN        NaN        NaN        NaN
157        NaN        NaN        NaN        NaN        NaN        NaN
158        NaN        NaN        NaN        NaN        NaN        NaN
159        NaN        NaN        NaN        NaN        NaN        NaN
160        NaN        NaN        NaN        NaN        NaN        NaN
161        NaN        NaN        NaN        NaN        NaN        NaN
162        NaN        NaN        NaN        NaN        NaN        NaN
163        NaN        NaN        NaN        NaN        NaN        NaN
164        NaN        NaN        NaN        NaN        NaN        NaN

    Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
115        4.6  ...         2.4         2.2         1.7         1.7
116       12.7  ...         6.9         6.4         6.3         6.3
117        6.2  ...         2.7           3         2.4           2
118       15.4  ...         5.6         6.5         5.9         5.4
119       16.5  ...        10.5          11         9.1         8.6
120        0.6  ...         0.2           -         0.1           -
121        NaN  ...         NaN         NaN         NaN         NaN
122        NaN  ...         NaN         NaN         NaN         NaN
123        NaN  ...         NaN         NaN         NaN         NaN
124        NaN  ...         NaN         NaN         NaN         NaN
125        NaN  ...         NaN         NaN         NaN         NaN
126        NaN  ...         NaN         NaN         NaN         NaN
127        NaN  ...         NaN         NaN         NaN         NaN
128        NaN  ...         NaN         NaN         NaN         NaN
129        NaN  ...         NaN         NaN         NaN         NaN
130        NaN  ...         NaN         NaN         NaN         NaN
131        NaN  ...         NaN         NaN         NaN         NaN
132        NaN  ...         NaN         NaN         NaN         NaN
133        NaN  ...         NaN         NaN         NaN         NaN
134        NaN  ...         NaN         NaN         NaN         NaN
135        NaN  ...         NaN         NaN         NaN         NaN
136        NaN  ...         NaN         NaN         NaN         NaN
137        NaN  ...         NaN         NaN         NaN         NaN
138        NaN  ...         NaN         NaN         NaN         NaN
139        NaN  ...         NaN         NaN         NaN         NaN
140        NaN  ...         NaN         NaN         NaN         NaN
141        NaN  ...         NaN         NaN         NaN         NaN
142        NaN  ...         NaN         NaN         NaN         NaN
143        NaN  ...         NaN         NaN         NaN         NaN
144        NaN  ...         NaN         NaN         NaN         NaN
145        NaN  ...         NaN         NaN         NaN         NaN
146        NaN  ...         NaN         NaN         NaN         NaN
147        NaN  ...         NaN         NaN         NaN         NaN
148        NaN  ...         NaN         NaN         NaN         NaN
149        NaN  ...         NaN         NaN         NaN         NaN
150        NaN  ...         NaN         NaN         NaN         NaN
151        NaN  ...         NaN         NaN         NaN         NaN
152        NaN  ...         NaN         NaN         NaN         NaN
153        NaN  ...         NaN         NaN         NaN         NaN
154        NaN  ...         NaN         NaN         NaN         NaN
155        NaN  ...         NaN         NaN         NaN         NaN
156        NaN  ...         NaN         NaN         NaN         NaN
157        NaN  ...         NaN         NaN         NaN         NaN
158        NaN  ...         NaN         NaN         NaN         NaN
159        NaN  ...         NaN         NaN         NaN         NaN
160        NaN  ...         NaN         NaN         NaN         NaN
161        NaN  ...         NaN         NaN         NaN         NaN
162        NaN  ...         NaN         NaN         NaN         NaN
163        NaN  ...         NaN         NaN         NaN         NaN
164        NaN  ...         NaN         NaN         NaN         NaN

    Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
115         1.5         1.4         1.2         1.5         1.3         1.1
116         5.6         4.1         5.3         5.6         6.2         5.1
117         1.4         1.6         1.2         1.4         1.4         1.2
118         3.3         3.4         3.4           3         2.3         2.5
119           5         4.5         6.4         5.7         4.7           4
120         0.1           -         0.1           -           -           -
121         NaN         NaN         NaN         NaN         NaN         NaN
122         NaN         NaN         NaN         NaN         NaN         NaN
123         NaN         NaN         NaN         NaN         NaN         NaN
124         NaN         NaN         NaN         NaN         NaN         NaN
125         NaN         NaN         NaN         NaN         NaN         NaN
126         NaN         NaN         NaN         NaN         NaN         NaN
127         NaN         NaN         NaN         NaN         NaN         NaN
128         NaN         NaN         NaN         NaN         NaN         NaN
129         NaN         NaN         NaN         NaN         NaN         NaN
130         NaN         NaN         NaN         NaN         NaN         NaN
131         NaN         NaN         NaN         NaN         NaN         NaN
132         NaN         NaN         NaN         NaN         NaN         NaN
133         NaN         NaN         NaN         NaN         NaN         NaN
134         NaN         NaN         NaN         NaN         NaN         NaN
135         NaN         NaN         NaN         NaN         NaN         NaN
136         NaN         NaN         NaN         NaN         NaN         NaN
137         NaN         NaN         NaN         NaN         NaN         NaN
138         NaN         NaN         NaN         NaN         NaN         NaN
139         NaN         NaN         NaN         NaN         NaN         NaN
140         NaN         NaN         NaN         NaN         NaN         NaN
141         NaN         NaN         NaN         NaN         NaN         NaN
142         NaN         NaN         NaN         NaN         NaN         NaN
143         NaN         NaN         NaN         NaN         NaN         NaN
144         NaN         NaN         NaN         NaN         NaN         NaN
145         NaN         NaN         NaN         NaN         NaN         NaN
146         NaN         NaN         NaN         NaN         NaN         NaN
147         NaN         NaN         NaN         NaN         NaN         NaN
148         NaN         NaN         NaN         NaN         NaN         NaN
149         NaN         NaN         NaN         NaN         NaN         NaN
150         NaN         NaN         NaN         NaN         NaN         NaN
151         NaN         NaN         NaN         NaN         NaN         NaN
152         NaN         NaN         NaN         NaN         NaN         NaN
153         NaN         NaN         NaN         NaN         NaN         NaN
154         NaN         NaN         NaN         NaN         NaN         NaN
155         NaN         NaN         NaN         NaN         NaN         NaN
156         NaN         NaN         NaN         NaN         NaN         NaN
157         NaN         NaN         NaN         NaN         NaN         NaN
158         NaN         NaN         NaN         NaN         NaN         NaN
159         NaN         NaN         NaN         NaN         NaN         NaN
160         NaN         NaN         NaN         NaN         NaN         NaN
161         NaN         NaN         NaN         NaN         NaN         NaN
162         NaN         NaN         NaN         NaN         NaN         NaN
163         NaN         NaN         NaN         NaN         NaN         NaN
164         NaN         NaN         NaN         NaN         NaN         NaN

[50 rows x 25 columns]

In [89]:
# Keep only the first 121 rows (based on inspection)
df = df.iloc[:121].reset_index(drop=True)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Data Series,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,2010,2009,2008,2007,2005,2004,2003,2002,2001,2000
1,"All Occupation Groups, (Total Employed Male Re...",1238,1244,1256.2,1220.3,1198.1,1202.5,1197.2,1189.4,1178.4,...,1106.6,1066.2,1053.6,1038.4,959.7,960.8,948.7,937.7,938.4,889.5
2,Managers & Administrators (Including Working...,242.6,223.4,243.5,233.6,231.4,231,219.2,230.6,220.2,...,232.7,214.1,208.2,195.9,163.9,174.9,179.9,172.4,174.6,163
3,Professionals,311.5,314.7,317.3,300.5,260.5,238,236,229,215.1,...,207.4,192,187.6,172.3,141.5,144.3,137.7,134.3,131.4,106.9
4,Associate Professionals & Technicians,241.5,246.3,244.6,235.1,231.7,243.2,242.5,224.8,229.9,...,167.1,158.2,161.5,151.8,135.5,143.3,130.3,129.7,132.6,134.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,Service & Sales Workers,20.9,21,19.2,18.4,17.2,13.2,14.1,14,12.7,...,6.9,6.4,6.3,6.3,5.6,4.1,5.3,5.6,6.2,5.1
117,Craftsmen & Related Trade Workers,10.3,8.8,7.7,8.5,8,7.1,7,6.2,6.2,...,2.7,3,2.4,2,1.4,1.6,1.2,1.4,1.4,1.2
118,Plant & Machine Operators & Assemblers,27.2,24.2,25.4,21.2,20.4,20.1,16.9,16.5,15.4,...,5.6,6.5,5.9,5.4,3.3,3.4,3.4,3,2.3,2.5
119,"Cleaners, Labourers & Related Workers",32.6,26.3,23.8,22.3,21.5,19.1,18.3,21.2,16.5,...,10.5,11,9.1,8.6,5,4.5,6.4,5.7,4.7,4
120,Others,1.3,1.7,0.8,1.2,1.1,0.7,0.8,0.8,0.6,...,0.2,-,0.1,-,0.1,-,0.1,-,-,-

In [90]:
# Use the first row as header
df.columns = df.iloc[0]
df = df.drop(0).reset_index(drop=True)

print("\nData after setting header row:")
print(df.head(10))

Data after setting header row:
0                                        Data Series  2024   2023    2022   \
0  All Occupation Groups, (Total Employed Male Re...   1238   1244  1256.2
1    Managers & Administrators (Including Working...  242.6  223.4   243.5
2                                      Professionals  311.5  314.7   317.3
3              Associate Professionals & Technicians  241.5  246.3   244.6
4                           Clerical Support Workers     48   49.5    49.6
5                            Service & Sales Workers  102.1  112.6   107.9
6                  Craftsmen & Related Trade Workers   46.5     48    44.3
7             Plant & Machine Operators & Assemblers  116.8  119.7   122.4
8              Cleaners, Labourers & Related Workers   73.1     72    73.2
9                                             Others   55.8   57.9    53.5

0   2021    2020    2019    2018    2017    2016   ...   2010    2009   \
0  1220.3  1198.1  1202.5  1197.2  1189.4  1178.4  ...  1106.6  1066.2
1   233.6   231.4     231   219.2   230.6   220.2  ...   232.7   214.1
2   300.5   260.5     238     236     229   215.1  ...   207.4     192
3   235.1   231.7   243.2   242.5   224.8   229.9  ...   167.1   158.2
4      52    51.7    56.3    59.9    58.4      60  ...    52.9    56.6
5   106.8   107.6   111.7   115.5   108.3   115.6  ...   108.9   107.9
6    48.1    53.7    58.8    60.9    67.1    69.8  ...      78    79.4
7   122.5   137.2   136.8   130.4     136   132.6  ...   126.3   130.4
8    67.1    65.3    64.4    66.2    68.4    65.6  ...    66.6    64.9
9    54.7      59    62.4    66.6      67    69.7  ...    66.7    62.6

0   2008    2007   2005   2004   2003   2002   2001   2000
0  1053.6  1038.4  959.7  960.8  948.7  937.7  938.4  889.5
1   208.2   195.9  163.9  174.9  179.9  172.4  174.6    163
2   187.6   172.3  141.5  144.3  137.7  134.3  131.4  106.9
3   161.5   151.8  135.5  143.3  130.3  129.7  132.6  134.1
4    57.7    54.8   55.3   48.8   50.9   49.8   50.9   49.2
5   105.1   114.9    126  103.3  104.1  107.3  103.5  102.1
6    81.3    85.9  101.9   89.3   89.7   96.2   94.4   97.9
7   126.4   130.7  130.9  122.6  122.4    127  129.3  128.1
8    63.7    70.6   51.3   65.1   65.6   60.1   58.6   56.6
9    62.2    61.6   53.6   69.3   68.2   60.9   63.2   51.6

[10 rows x 25 columns]

In [91]:
# Preview column name
print(df.columns)

# Standardize the column name
clean_column = []
for c in df.columns:
    text = str(c).strip()                 
    match = re.search(r"(19|20)\d{2}", text)  
    if match:
        clean_column.append(match.group(0))     
    else:
        clean_column.append(text)               

df.columns = clean_column
print(df.columns)

Index(['Data Series', '2024 ', '2023 ', '2022 ', '2021 ', '2020 ', '2019 ',
       '2018 ', '2017 ', '2016 ', '2015 ', '2014 ', '2013 ', '2012 ', '2011 ',
       '2010 ', '2009 ', '2008 ', '2007 ', '2005 ', '2004 ', '2003 ', '2002 ',
       '2001 ', '2000 '],
      dtype='object', name=0)
Index(['Data Series', '2024', '2023', '2022', '2021', '2020', '2019', '2018',
       '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009',
       '2008', '2007', '2005', '2004', '2003', '2002', '2001', '2000'],
      dtype='object')

In [92]:
# Split age group and occupation category
age_group, occupation = [], []
current_age = None

for raw_val in df["Data Series"].fillna("").astype(str):
    s = raw_val.strip()
    if s == "":
        age_group.append(np.nan)
        occupation.append(np.nan)
        continue

    if "Employed Male Residents Aged" in s and not raw_val.startswith("  "):
        current_age = s
        age_group.append(current_age)
        occupation.append("Total (All Occupations)")
    elif "All Occupation Groups, (Total Employed Male Residents)" in s:
        if current_age is None:
            current_age = "All Ages (All Employed Residents)"
        age_group.append(current_age)
        occupation.append("Total (All Occupations)")
    else:
        if current_age is None:
            current_age = "All Ages (All Employed Residents)"
        age_group.append(current_age)
        occupation.append(s)

In [93]:
# Build cleaned dataset
clean_data = df.copy()
clean_data.insert(0, "Occupation", occupation)
clean_data.insert(0, "Age Group", age_group)
# Drop "Data Series" column
clean_data = clean_data.drop(columns=["Data Series"])
clean_data

,Age Group,Occupation,2024,2023,2022,2021,2020,2019,2018,2017,...,2010,2009,2008,2007,2005,2004,2003,2002,2001,2000
0,All Ages (All Employed Residents),Total (All Occupations),1238,1244,1256.2,1220.3,1198.1,1202.5,1197.2,1189.4,...,1106.6,1066.2,1053.6,1038.4,959.7,960.8,948.7,937.7,938.4,889.5
1,All Ages (All Employed Residents),Managers & Administrators (Including Working P...,242.6,223.4,243.5,233.6,231.4,231,219.2,230.6,...,232.7,214.1,208.2,195.9,163.9,174.9,179.9,172.4,174.6,163
2,All Ages (All Employed Residents),Professionals,311.5,314.7,317.3,300.5,260.5,238,236,229,...,207.4,192,187.6,172.3,141.5,144.3,137.7,134.3,131.4,106.9
3,All Ages (All Employed Residents),Associate Professionals & Technicians,241.5,246.3,244.6,235.1,231.7,243.2,242.5,224.8,...,167.1,158.2,161.5,151.8,135.5,143.3,130.3,129.7,132.6,134.1
4,All Ages (All Employed Residents),Clerical Support Workers,48,49.5,49.6,52,51.7,56.3,59.9,58.4,...,52.9,56.6,57.7,54.8,55.3,48.8,50.9,49.8,50.9,49.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Employed Male Residents Aged 65 Years & Over,Service & Sales Workers,20.9,21,19.2,18.4,17.2,13.2,14.1,14,...,6.9,6.4,6.3,6.3,5.6,4.1,5.3,5.6,6.2,5.1
116,Employed Male Residents Aged 65 Years & Over,Craftsmen & Related Trade Workers,10.3,8.8,7.7,8.5,8,7.1,7,6.2,...,2.7,3,2.4,2,1.4,1.6,1.2,1.4,1.4,1.2
117,Employed Male Residents Aged 65 Years & Over,Plant & Machine Operators & Assemblers,27.2,24.2,25.4,21.2,20.4,20.1,16.9,16.5,...,5.6,6.5,5.9,5.4,3.3,3.4,3.4,3,2.3,2.5
118,Employed Male Residents Aged 65 Years & Over,"Cleaners, Labourers & Related Workers",32.6,26.3,23.8,22.3,21.5,19.1,18.3,21.2,...,10.5,11,9.1,8.6,5,4.5,6.4,5.7,4.7,4
119,Employed Male Residents Aged 65 Years & Over,Others,1.3,1.7,0.8,1.2,1.1,0.7,0.8,0.8,...,0.2,-,0.1,-,0.1,-,0.1,-,-,-

In [94]:
clean_data["Occupation"].unique()

array(['Total (All Occupations)',
       'Managers & Administrators (Including Working Proprietors)',
       'Professionals', 'Associate Professionals & Technicians',
       'Clerical Support Workers', 'Service & Sales Workers',
       'Craftsmen & Related Trade Workers',
       'Plant & Machine Operators & Assemblers',
       'Cleaners, Labourers & Related Workers', 'Others'], dtype=object)

In [95]:
# Optional --> Save file to csv
clean_data.to_csv("clean_data_male.csv", index=False)