In [80]:
# Import important library
import pandas as pd
import re
import numpy as np 

file_name = "M182171.csv"

# Read raw file
df = pd.read_csv(file_name)
print("Preview first 20 rows:")
print(df.head(20))

Preview first 20 rows:
                                           Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                             Theme: Economy & Prices        NaN        NaN
1   Subject: Labour, Employment, Wages and Product...        NaN        NaN
2                                   Topic: Employment        NaN        NaN
3   Table Title: Employed Residents Aged 15 Years ...        NaN        NaN
4                                                 NaN        NaN        NaN
5                       Data last updated: 28/01/2025        NaN        NaN
6                        Source: MINISTRY OF MANPOWER        NaN        NaN
7                                                 NaN        NaN        NaN
8                                                 NaN        NaN        NaN
9                                         Data Series      2024       2023
10  All Occupation Groups, (Total Employed Residents)     2365.6     2352.3
11    Managers & Administrators (Including Working...      404.9      369.9
12                                      Professionals      619.9      620.6
13              Associate Professionals & Technicians      483.1      482.5
14                           Clerical Support Workers      209.6      207.8
15                            Service & Sales Workers      241.8      257.9
16                  Craftsmen & Related Trade Workers       54.8       58.8
17             Plant & Machine Operators & Assemblers      128.4        132
18              Cleaners, Labourers & Related Workers      165.7      162.1
19                                             Others       57.4       60.7

   Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN        NaN
5         NaN        NaN        NaN        NaN        NaN        NaN
6         NaN        NaN        NaN        NaN        NaN        NaN
7         NaN        NaN        NaN        NaN        NaN        NaN
8         NaN        NaN        NaN        NaN        NaN        NaN
9       2022       2021       2020       2019       2018       2017
10     2350.4     2286.5     2222.6     2230.4     2203.7     2175.3
11      407.7      377.7      368.3      364.9      341.6      348.8
12      600.9      577.5      504.2      469.4      449.2      437.6
13      485.7      465.8      458.2      467.9        465      436.2
14      211.8      223.4      215.6      237.2        241      247.9
15      241.2      239.2      252.3      257.7      262.7        248
16       53.3       57.9       62.5       67.8         70         76
17      135.7        137      151.7      151.4      147.9      151.5
18      158.4      151.5      149.5      149.4      156.4      160.5
19       55.8       56.5       60.4       64.8       69.8       68.9

   Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0         NaN  ...         NaN         NaN         NaN         NaN
1         NaN  ...         NaN         NaN         NaN         NaN
2         NaN  ...         NaN         NaN         NaN         NaN
3         NaN  ...         NaN         NaN         NaN         NaN
4         NaN  ...         NaN         NaN         NaN         NaN
5         NaN  ...         NaN         NaN         NaN         NaN
6         NaN  ...         NaN         NaN         NaN         NaN
7         NaN  ...         NaN         NaN         NaN         NaN
8         NaN  ...         NaN         NaN         NaN         NaN
9       2016   ...      2010.0       2009        2008        2007
10     2165.3  ...      1962.9      1869.4        1852      1803.2
11      337.5  ...       352.4       310.8       303.3       281.2
12      419.8  ...       375.7       341.8       334.5       309.6
13      438.1  ...       303.4       309.8       307.8       289.5
14      244.9  ...       243.6       236.5         237       231.2
15      262.4  ...       234.5       218.9       219.3       225.4
16       79.2  ...        86.5        88.8        90.8        95.6
17      151.1  ...       152.7       158.4       157.4         164
18      160.7  ...       145.5         141       138.5       143.6
19       71.6  ...        68.7        63.5        63.4        63.1

   Unnamed: 19  Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
0          NaN          NaN         NaN         NaN         NaN         NaN
1          NaN          NaN         NaN         NaN         NaN         NaN
2          NaN          NaN         NaN         NaN         NaN         NaN
3          NaN          NaN         NaN         NaN         NaN         NaN
4          NaN          NaN         NaN         NaN         NaN         NaN
5          NaN          NaN         NaN         NaN         NaN         NaN
6          NaN          NaN         NaN         NaN         NaN         NaN
7          NaN          NaN         NaN         NaN         NaN         NaN
8          NaN          NaN         NaN         NaN         NaN    Thousand
9        2005         2004        2003        2002        2001        2000
10      1647.3       1632.1      1605.4      1573.7      1582.5      1482.6
11       231.7          242       243.2       233.3       233.3       221.4
12         259          250       247.1       236.3         233       196.4
13       255.6        259.8       240.8       234.4       238.2       234.5
14       220.8        220.4       219.1       217.8       221.9       204.8
15       244.4        203.5       196.8       198.8       200.7       184.7
16         111         97.2          98       105.1       102.5       107.3
17       169.7        164.2       166.7       171.2       173.6       175.7
18        99.2        123.9       123.8       114.8       114.4       103.8
19        55.9         71.1        69.8        61.9        64.9        53.9

[20 rows x 25 columns]

In [81]:
# Drop the first 9 rows
df = df.drop(index=range(0, 9)).reset_index(drop=True)
print("\nPreview after dropping first 10 rows:")
print(df.head(10))

Preview after dropping first 10 rows:
                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                        Data Series      2024       2023
1  All Occupation Groups, (Total Employed Residents)     2365.6     2352.3
2    Managers & Administrators (Including Working...      404.9      369.9
3                                      Professionals      619.9      620.6
4              Associate Professionals & Technicians      483.1      482.5
5                           Clerical Support Workers      209.6      207.8
6                            Service & Sales Workers      241.8      257.9
7                  Craftsmen & Related Trade Workers       54.8       58.8
8             Plant & Machine Operators & Assemblers      128.4        132
9              Cleaners, Labourers & Related Workers      165.7      162.1

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0      2022       2021       2020       2019       2018       2017
1     2350.4     2286.5     2222.6     2230.4     2203.7     2175.3
2      407.7      377.7      368.3      364.9      341.6      348.8
3      600.9      577.5      504.2      469.4      449.2      437.6
4      485.7      465.8      458.2      467.9        465      436.2
5      211.8      223.4      215.6      237.2        241      247.9
6      241.2      239.2      252.3      257.7      262.7        248
7       53.3       57.9       62.5       67.8         70         76
8      135.7        137      151.7      151.4      147.9      151.5
9      158.4      151.5      149.5      149.4      156.4      160.5

  Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19  \
0      2016   ...      2010.0       2009        2008        2007        2005
1     2165.3  ...      1962.9      1869.4        1852      1803.2      1647.3
2      337.5  ...       352.4       310.8       303.3       281.2       231.7
3      419.8  ...       375.7       341.8       334.5       309.6         259
4      438.1  ...       303.4       309.8       307.8       289.5       255.6
5      244.9  ...       243.6       236.5         237       231.2       220.8
6      262.4  ...       234.5       218.9       219.3       225.4       244.4
7       79.2  ...        86.5        88.8        90.8        95.6         111
8      151.1  ...       152.7       158.4       157.4         164       169.7
9      160.7  ...       145.5         141       138.5       143.6        99.2

   Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
0        2004        2003        2002        2001        2000
1       1632.1      1605.4      1573.7      1582.5      1482.6
2          242       243.2       233.3       233.3       221.4
3          250       247.1       236.3         233       196.4
4        259.8       240.8       234.4       238.2       234.5
5        220.4       219.1       217.8       221.9       204.8
6        203.5       196.8       198.8       200.7       184.7
7         97.2          98       105.1       102.5       107.3
8        164.2       166.7       171.2       173.6       175.7
9        123.9       123.8       114.8       114.4       103.8

[10 rows x 25 columns]

In [82]:
# Preview the last 50 rows to see the file structure
print("\nPreview last 50 rows:")
print(df.tail(50))

Preview last 50 rows:
                                            Unnamed: 0 Unnamed: 1 Unnamed: 2  \
115                           Clerical Support Workers       24.1       21.6
116                            Service & Sales Workers       42.6       38.7
117                  Craftsmen & Related Trade Workers       12.2       10.3
118             Plant & Machine Operators & Assemblers       28.9         26
119              Cleaners, Labourers & Related Workers       72.1       59.8
120                                             Others        1.6          2
121                                                NaN        NaN        NaN
122                         Definitions and Footnotes:        NaN        NaN
123  Residents comprise Singapore citizens and perm...        NaN        NaN
124  All Occupation Groups, (Total Employed Residen...        NaN        NaN
125  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
126  Employed Residents Aged 15 - 19 Years -> Other...        NaN        NaN
127  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
128  Employed Residents Aged 20 - 24 Years -> Other...        NaN        NaN
129  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
130  Employed Residents Aged 25 - 29 Years -> Other...        NaN        NaN
131  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
132  Employed Residents Aged 30 - 34 Years -> Other...        NaN        NaN
133  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
134  Employed Residents Aged 35 - 39 Years -> Other...        NaN        NaN
135  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
136  Employed Residents Aged 40 - 44 Years -> Other...        NaN        NaN
137  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
138  Employed Residents Aged 45 - 49 Years -> Other...        NaN        NaN
139  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
140  Employed Residents Aged 50 - 54 Years -> Other...        NaN        NaN
141  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
142  Employed Residents Aged 55 - 59 Years -> Other...        NaN        NaN
143  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
144  Employed Residents Aged 60 - 64 Years -> Other...        NaN        NaN
145  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
146  Employed Residents Aged 65 Years & Over -> Oth...        NaN        NaN
147  Includes Agricultural & Fishery Workers and Wo...        NaN        NaN
148                                                NaN        NaN        NaN
149                                        Occupation:        NaN        NaN
150  Occupation of a working person refers to the k...        NaN        NaN
151                                                NaN        NaN        NaN
152                                          Notation:        NaN        NaN
153               na   not available or not applicable        NaN        NaN
154                      nec  not elsewhere classified        NaN        NaN
155                       nes  not elsewhere specified        NaN        NaN
156         -     nil or negligible or not significant        NaN        NaN
157                                              Notes        NaN        NaN
158  Numbers may not add up to the totals due to ro...        NaN        NaN
159  Data are the latest available at the time of a...        NaN        NaN
160  Values are shown in Singapore dollars (unless ...        NaN        NaN
161                                                NaN        NaN        NaN
162               Generated by: SingStat Table Builder        NaN        NaN
163                         Date generated: 25/09/2025        NaN        NaN
164                      Contact: info@singstat.gov.sg        NaN        NaN

    Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
115       21.3       19.7       16.6       15.9       13.3       12.8
116       35.6         34       31.6       25.4       25.7       24.4
117        9.5       10.1        9.6        8.6          8        7.1
118       27.4       22.7       21.9       21.4       18.3       17.8
119       53.8       51.4       48.5         43       42.4       45.6
120        1.1        1.4        1.1        0.9          1        0.9
121        NaN        NaN        NaN        NaN        NaN        NaN
122        NaN        NaN        NaN        NaN        NaN        NaN
123        NaN        NaN        NaN        NaN        NaN        NaN
124        NaN        NaN        NaN        NaN        NaN        NaN
125        NaN        NaN        NaN        NaN        NaN        NaN
126        NaN        NaN        NaN        NaN        NaN        NaN
127        NaN        NaN        NaN        NaN        NaN        NaN
128        NaN        NaN        NaN        NaN        NaN        NaN
129        NaN        NaN        NaN        NaN        NaN        NaN
130        NaN        NaN        NaN        NaN        NaN        NaN
131        NaN        NaN        NaN        NaN        NaN        NaN
132        NaN        NaN        NaN        NaN        NaN        NaN
133        NaN        NaN        NaN        NaN        NaN        NaN
134        NaN        NaN        NaN        NaN        NaN        NaN
135        NaN        NaN        NaN        NaN        NaN        NaN
136        NaN        NaN        NaN        NaN        NaN        NaN
137        NaN        NaN        NaN        NaN        NaN        NaN
138        NaN        NaN        NaN        NaN        NaN        NaN
139        NaN        NaN        NaN        NaN        NaN        NaN
140        NaN        NaN        NaN        NaN        NaN        NaN
141        NaN        NaN        NaN        NaN        NaN        NaN
142        NaN        NaN        NaN        NaN        NaN        NaN
143        NaN        NaN        NaN        NaN        NaN        NaN
144        NaN        NaN        NaN        NaN        NaN        NaN
145        NaN        NaN        NaN        NaN        NaN        NaN
146        NaN        NaN        NaN        NaN        NaN        NaN
147        NaN        NaN        NaN        NaN        NaN        NaN
148        NaN        NaN        NaN        NaN        NaN        NaN
149        NaN        NaN        NaN        NaN        NaN        NaN
150        NaN        NaN        NaN        NaN        NaN        NaN
151        NaN        NaN        NaN        NaN        NaN        NaN
152        NaN        NaN        NaN        NaN        NaN        NaN
153        NaN        NaN        NaN        NaN        NaN        NaN
154        NaN        NaN        NaN        NaN        NaN        NaN
155        NaN        NaN        NaN        NaN        NaN        NaN
156        NaN        NaN        NaN        NaN        NaN        NaN
157        NaN        NaN        NaN        NaN        NaN        NaN
158        NaN        NaN        NaN        NaN        NaN        NaN
159        NaN        NaN        NaN        NaN        NaN        NaN
160        NaN        NaN        NaN        NaN        NaN        NaN
161        NaN        NaN        NaN        NaN        NaN        NaN
162        NaN        NaN        NaN        NaN        NaN        NaN
163        NaN        NaN        NaN        NaN        NaN        NaN
164        NaN        NaN        NaN        NaN        NaN        NaN

    Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
115       10.5  ...         3.6         3.3         2.5         2.5
116       21.8  ...        10.5         9.8         9.5         9.3
117        7.1  ...         3.5         3.2         2.7         2.1
118       16.9  ...         6.2           7         6.6         6.1
119       38.1  ...        20.0        20.2        17.7          16
120        0.7  ...         0.2         0.1         0.1           -
121        NaN  ...         NaN         NaN         NaN         NaN
122        NaN  ...         NaN         NaN         NaN         NaN
123        NaN  ...         NaN         NaN         NaN         NaN
124        NaN  ...         NaN         NaN         NaN         NaN
125        NaN  ...         NaN         NaN         NaN         NaN
126        NaN  ...         NaN         NaN         NaN         NaN
127        NaN  ...         NaN         NaN         NaN         NaN
128        NaN  ...         NaN         NaN         NaN         NaN
129        NaN  ...         NaN         NaN         NaN         NaN
130        NaN  ...         NaN         NaN         NaN         NaN
131        NaN  ...         NaN         NaN         NaN         NaN
132        NaN  ...         NaN         NaN         NaN         NaN
133        NaN  ...         NaN         NaN         NaN         NaN
134        NaN  ...         NaN         NaN         NaN         NaN
135        NaN  ...         NaN         NaN         NaN         NaN
136        NaN  ...         NaN         NaN         NaN         NaN
137        NaN  ...         NaN         NaN         NaN         NaN
138        NaN  ...         NaN         NaN         NaN         NaN
139        NaN  ...         NaN         NaN         NaN         NaN
140        NaN  ...         NaN         NaN         NaN         NaN
141        NaN  ...         NaN         NaN         NaN         NaN
142        NaN  ...         NaN         NaN         NaN         NaN
143        NaN  ...         NaN         NaN         NaN         NaN
144        NaN  ...         NaN         NaN         NaN         NaN
145        NaN  ...         NaN         NaN         NaN         NaN
146        NaN  ...         NaN         NaN         NaN         NaN
147        NaN  ...         NaN         NaN         NaN         NaN
148        NaN  ...         NaN         NaN         NaN         NaN
149        NaN  ...         NaN         NaN         NaN         NaN
150        NaN  ...         NaN         NaN         NaN         NaN
151        NaN  ...         NaN         NaN         NaN         NaN
152        NaN  ...         NaN         NaN         NaN         NaN
153        NaN  ...         NaN         NaN         NaN         NaN
154        NaN  ...         NaN         NaN         NaN         NaN
155        NaN  ...         NaN         NaN         NaN         NaN
156        NaN  ...         NaN         NaN         NaN         NaN
157        NaN  ...         NaN         NaN         NaN         NaN
158        NaN  ...         NaN         NaN         NaN         NaN
159        NaN  ...         NaN         NaN         NaN         NaN
160        NaN  ...         NaN         NaN         NaN         NaN
161        NaN  ...         NaN         NaN         NaN         NaN
162        NaN  ...         NaN         NaN         NaN         NaN
163        NaN  ...         NaN         NaN         NaN         NaN
164        NaN  ...         NaN         NaN         NaN         NaN

    Unnamed: 19  Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
115         1.9          1.7         1.4         1.9         1.5         1.2
116         7.5          5.9         6.7         7.1         8.3         6.6
117         1.6          1.7         1.3         1.5         1.6         1.3
118         3.5          3.5         3.7         3.2         2.5         2.7
119         8.8          8.6        10.8         9.2         7.9         6.8
120         0.1            -         0.1           -         0.1           -
121         NaN          NaN         NaN         NaN         NaN         NaN
122         NaN          NaN         NaN         NaN         NaN         NaN
123         NaN          NaN         NaN         NaN         NaN         NaN
124         NaN          NaN         NaN         NaN         NaN         NaN
125         NaN          NaN         NaN         NaN         NaN         NaN
126         NaN          NaN         NaN         NaN         NaN         NaN
127         NaN          NaN         NaN         NaN         NaN         NaN
128         NaN          NaN         NaN         NaN         NaN         NaN
129         NaN          NaN         NaN         NaN         NaN         NaN
130         NaN          NaN         NaN         NaN         NaN         NaN
131         NaN          NaN         NaN         NaN         NaN         NaN
132         NaN          NaN         NaN         NaN         NaN         NaN
133         NaN          NaN         NaN         NaN         NaN         NaN
134         NaN          NaN         NaN         NaN         NaN         NaN
135         NaN          NaN         NaN         NaN         NaN         NaN
136         NaN          NaN         NaN         NaN         NaN         NaN
137         NaN          NaN         NaN         NaN         NaN         NaN
138         NaN          NaN         NaN         NaN         NaN         NaN
139         NaN          NaN         NaN         NaN         NaN         NaN
140         NaN          NaN         NaN         NaN         NaN         NaN
141         NaN          NaN         NaN         NaN         NaN         NaN
142         NaN          NaN         NaN         NaN         NaN         NaN
143         NaN          NaN         NaN         NaN         NaN         NaN
144         NaN          NaN         NaN         NaN         NaN         NaN
145         NaN          NaN         NaN         NaN         NaN         NaN
146         NaN          NaN         NaN         NaN         NaN         NaN
147         NaN          NaN         NaN         NaN         NaN         NaN
148         NaN          NaN         NaN         NaN         NaN         NaN
149         NaN          NaN         NaN         NaN         NaN         NaN
150         NaN          NaN         NaN         NaN         NaN         NaN
151         NaN          NaN         NaN         NaN         NaN         NaN
152         NaN          NaN         NaN         NaN         NaN         NaN
153         NaN          NaN         NaN         NaN         NaN         NaN
154         NaN          NaN         NaN         NaN         NaN         NaN
155         NaN          NaN         NaN         NaN         NaN         NaN
156         NaN          NaN         NaN         NaN         NaN         NaN
157         NaN          NaN         NaN         NaN         NaN         NaN
158         NaN          NaN         NaN         NaN         NaN         NaN
159         NaN          NaN         NaN         NaN         NaN         NaN
160         NaN          NaN         NaN         NaN         NaN         NaN
161         NaN          NaN         NaN         NaN         NaN         NaN
162         NaN          NaN         NaN         NaN         NaN         NaN
163         NaN          NaN         NaN         NaN         NaN         NaN
164         NaN          NaN         NaN         NaN         NaN         NaN

[50 rows x 25 columns]

In [83]:
# Keep only the first 121 rows (based on inspection)
df = df.iloc[:121].reset_index(drop=True)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Data Series,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,2010.0,2009,2008,2007,2005,2004,2003,2002,2001,2000
1,"All Occupation Groups, (Total Employed Residents)",2365.6,2352.3,2350.4,2286.5,2222.6,2230.4,2203.7,2175.3,2165.3,...,1962.9,1869.4,1852,1803.2,1647.3,1632.1,1605.4,1573.7,1582.5,1482.6
2,Managers & Administrators (Including Working...,404.9,369.9,407.7,377.7,368.3,364.9,341.6,348.8,337.5,...,352.4,310.8,303.3,281.2,231.7,242,243.2,233.3,233.3,221.4
3,Professionals,619.9,620.6,600.9,577.5,504.2,469.4,449.2,437.6,419.8,...,375.7,341.8,334.5,309.6,259,250,247.1,236.3,233,196.4
4,Associate Professionals & Technicians,483.1,482.5,485.7,465.8,458.2,467.9,465,436.2,438.1,...,303.4,309.8,307.8,289.5,255.6,259.8,240.8,234.4,238.2,234.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,Service & Sales Workers,42.6,38.7,35.6,34,31.6,25.4,25.7,24.4,21.8,...,10.5,9.8,9.5,9.3,7.5,5.9,6.7,7.1,8.3,6.6
117,Craftsmen & Related Trade Workers,12.2,10.3,9.5,10.1,9.6,8.6,8,7.1,7.1,...,3.5,3.2,2.7,2.1,1.6,1.7,1.3,1.5,1.6,1.3
118,Plant & Machine Operators & Assemblers,28.9,26,27.4,22.7,21.9,21.4,18.3,17.8,16.9,...,6.2,7,6.6,6.1,3.5,3.5,3.7,3.2,2.5,2.7
119,"Cleaners, Labourers & Related Workers",72.1,59.8,53.8,51.4,48.5,43,42.4,45.6,38.1,...,20.0,20.2,17.7,16,8.8,8.6,10.8,9.2,7.9,6.8
120,Others,1.6,2,1.1,1.4,1.1,0.9,1,0.9,0.7,...,0.2,0.1,0.1,-,0.1,-,0.1,-,0.1,-

In [84]:
# Use the first row as header
df.columns = df.iloc[0]
df = df.drop(0).reset_index(drop=True)

print("\nData after setting header row:")
print(df.head(10))

Data after setting header row:
0                                        Data Series   2024    2023    2022   \
0  All Occupation Groups, (Total Employed Residents)  2365.6  2352.3  2350.4
1    Managers & Administrators (Including Working...   404.9   369.9   407.7
2                                      Professionals   619.9   620.6   600.9
3              Associate Professionals & Technicians   483.1   482.5   485.7
4                           Clerical Support Workers   209.6   207.8   211.8
5                            Service & Sales Workers   241.8   257.9   241.2
6                  Craftsmen & Related Trade Workers    54.8    58.8    53.3
7             Plant & Machine Operators & Assemblers   128.4     132   135.7
8              Cleaners, Labourers & Related Workers   165.7   162.1   158.4
9                                             Others    57.4    60.7    55.8

0   2021    2020    2019    2018    2017    2016   ...  2010.0   2009   2008   \
0  2286.5  2222.6  2230.4  2203.7  2175.3  2165.3  ...  1962.9  1869.4   1852
1   377.7   368.3   364.9   341.6   348.8   337.5  ...   352.4   310.8  303.3
2   577.5   504.2   469.4   449.2   437.6   419.8  ...   375.7   341.8  334.5
3   465.8   458.2   467.9     465   436.2   438.1  ...   303.4   309.8  307.8
4   223.4   215.6   237.2     241   247.9   244.9  ...   243.6   236.5    237
5   239.2   252.3   257.7   262.7     248   262.4  ...   234.5   218.9  219.3
6    57.9    62.5    67.8      70      76    79.2  ...    86.5    88.8   90.8
7     137   151.7   151.4   147.9   151.5   151.1  ...   152.7   158.4  157.4
8   151.5   149.5   149.4   156.4   160.5   160.7  ...   145.5     141  138.5
9    56.5    60.4    64.8    69.8    68.9    71.6  ...    68.7    63.5   63.4

0   2007    2005    2004    2003    2002    2001    2000
0  1803.2  1647.3  1632.1  1605.4  1573.7  1582.5  1482.6
1   281.2   231.7     242   243.2   233.3   233.3   221.4
2   309.6     259     250   247.1   236.3     233   196.4
3   289.5   255.6   259.8   240.8   234.4   238.2   234.5
4   231.2   220.8   220.4   219.1   217.8   221.9   204.8
5   225.4   244.4   203.5   196.8   198.8   200.7   184.7
6    95.6     111    97.2      98   105.1   102.5   107.3
7     164   169.7   164.2   166.7   171.2   173.6   175.7
8   143.6    99.2   123.9   123.8   114.8   114.4   103.8
9    63.1    55.9    71.1    69.8    61.9    64.9    53.9

[10 rows x 25 columns]

In [85]:
# Preview column name
print(df.columns)

# Standardize the column name
clean_column = []
for c in df.columns:
    text = str(c).strip()                 
    match = re.search(r"(19|20)\d{2}", text)  
    if match:
        clean_column.append(match.group(0))     
    else:
        clean_column.append(text)               

df.columns = clean_column
print(df.columns)

Index(['Data Series',       '2024 ',       '2023 ',       '2022 ',
             '2021 ',       '2020 ',       '2019 ',       '2018 ',
             '2017 ',       '2016 ',       '2015 ',       '2014 ',
             '2013 ',       '2012 ',       '2011 ',        2010.0,
             '2009 ',       '2008 ',       '2007 ',       '2005 ',
             '2004 ',       '2003 ',       '2002 ',       '2001 ',
             '2000 '],
      dtype='object', name=0)
Index(['Data Series', '2024', '2023', '2022', '2021', '2020', '2019', '2018',
       '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009',
       '2008', '2007', '2005', '2004', '2003', '2002', '2001', '2000'],
      dtype='object')

In [86]:
# Split age group and occupation category
age_group, occupation = [], []
current_age = None

for raw_val in df["Data Series"].fillna("").astype(str):
    s = raw_val.strip()
    if s == "":
        age_group.append(np.nan)
        occupation.append(np.nan)
        continue

    if "Employed Residents Aged" in s and not raw_val.startswith("  "):
        current_age = s
        age_group.append(current_age)
        occupation.append("Total (All Occupations)")
    elif "All Occupation Groups" in s:
        if current_age is None:
            current_age = "All Ages (All Employed Residents)"
        age_group.append(current_age)
        occupation.append("Total (All Occupations)")
    else:
        if current_age is None:
            current_age = "All Ages (All Employed Residents)"
        age_group.append(current_age)
        occupation.append(s)

In [87]:
# Build cleaned dataset
clean_data = df.copy()
clean_data.insert(0, "Occupation", occupation)
clean_data.insert(0, "Age Group", age_group)
# Drop "Data Series" column
clean_data = clean_data.drop(columns=["Data Series"])
clean_data

,Age Group,Occupation,2024,2023,2022,2021,2020,2019,2018,2017,...,2010,2009,2008,2007,2005,2004,2003,2002,2001,2000
0,All Ages (All Employed Residents),Total (All Occupations),2365.6,2352.3,2350.4,2286.5,2222.6,2230.4,2203.7,2175.3,...,1962.9,1869.4,1852,1803.2,1647.3,1632.1,1605.4,1573.7,1582.5,1482.6
1,All Ages (All Employed Residents),Managers & Administrators (Including Working P...,404.9,369.9,407.7,377.7,368.3,364.9,341.6,348.8,...,352.4,310.8,303.3,281.2,231.7,242,243.2,233.3,233.3,221.4
2,All Ages (All Employed Residents),Professionals,619.9,620.6,600.9,577.5,504.2,469.4,449.2,437.6,...,375.7,341.8,334.5,309.6,259,250,247.1,236.3,233,196.4
3,All Ages (All Employed Residents),Associate Professionals & Technicians,483.1,482.5,485.7,465.8,458.2,467.9,465,436.2,...,303.4,309.8,307.8,289.5,255.6,259.8,240.8,234.4,238.2,234.5
4,All Ages (All Employed Residents),Clerical Support Workers,209.6,207.8,211.8,223.4,215.6,237.2,241,247.9,...,243.6,236.5,237,231.2,220.8,220.4,219.1,217.8,221.9,204.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Employed Residents Aged 65 Years & Over,Service & Sales Workers,42.6,38.7,35.6,34,31.6,25.4,25.7,24.4,...,10.5,9.8,9.5,9.3,7.5,5.9,6.7,7.1,8.3,6.6
116,Employed Residents Aged 65 Years & Over,Craftsmen & Related Trade Workers,12.2,10.3,9.5,10.1,9.6,8.6,8,7.1,...,3.5,3.2,2.7,2.1,1.6,1.7,1.3,1.5,1.6,1.3
117,Employed Residents Aged 65 Years & Over,Plant & Machine Operators & Assemblers,28.9,26,27.4,22.7,21.9,21.4,18.3,17.8,...,6.2,7,6.6,6.1,3.5,3.5,3.7,3.2,2.5,2.7
118,Employed Residents Aged 65 Years & Over,"Cleaners, Labourers & Related Workers",72.1,59.8,53.8,51.4,48.5,43,42.4,45.6,...,20.0,20.2,17.7,16,8.8,8.6,10.8,9.2,7.9,6.8
119,Employed Residents Aged 65 Years & Over,Others,1.6,2,1.1,1.4,1.1,0.9,1,0.9,...,0.2,0.1,0.1,-,0.1,-,0.1,-,0.1,-

In [88]:
# Optional --> Save file to csv
clean_data.to_csv("clean_data.csv", index=False)