In [53]:
# Combine 3 CSVs and standardize labels
#   - clean_data.csv
#   - clean_data_female.csv
#   - clean_data_male.csv

# Import library and load the csv file
import pandas as pd
df_all    = pd.read_csv("clean_data.csv")
df_female = pd.read_csv("clean_data_female.csv")
df_male   = pd.read_csv("clean_data_male.csv")

In [54]:
# Add Sex column
df_all = df_all.copy()
df_all["Sex"] = "All"

df_female = df_female.copy()
df_female["Sex"] = "Female"

df_male = df_male.copy()
df_male["Sex"] = "Male"

In [55]:
# Combine all csv file 
combined = pd.concat([df_all, df_female, df_male], ignore_index=True)
combined

,Age Group,Occupation,2024,2023,2022,2021,2020,2019,2018,2017,...,2009,2008,2007,2005,2004,2003,2002,2001,2000,Sex
0,All Ages (All Employed Residents),Total (All Occupations),2365.6,2352.3,2350.4,2286.5,2222.6,2230.4,2203.7,2175.3,...,1869.4,1852,1803.2,1647.3,1632.1,1605.4,1573.7,1582.5,1482.6,All
1,All Ages (All Employed Residents),Managers & Administrators (Including Working P...,404.9,369.9,407.7,377.7,368.3,364.9,341.6,348.8,...,310.8,303.3,281.2,231.7,242,243.2,233.3,233.3,221.4,All
2,All Ages (All Employed Residents),Professionals,619.9,620.6,600.9,577.5,504.2,469.4,449.2,437.6,...,341.8,334.5,309.6,259,250,247.1,236.3,233,196.4,All
3,All Ages (All Employed Residents),Associate Professionals & Technicians,483.1,482.5,485.7,465.8,458.2,467.9,465,436.2,...,309.8,307.8,289.5,255.6,259.8,240.8,234.4,238.2,234.5,All
4,All Ages (All Employed Residents),Clerical Support Workers,209.6,207.8,211.8,223.4,215.6,237.2,241,247.9,...,236.5,237,231.2,220.8,220.4,219.1,217.8,221.9,204.8,All
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,Employed Male Residents Aged 65 Years & Over,Service & Sales Workers,20.9,21,19.2,18.4,17.2,13.2,14.1,14,...,6.4,6.3,6.3,5.6,4.1,5.3,5.6,6.2,5.1,Male
356,Employed Male Residents Aged 65 Years & Over,Craftsmen & Related Trade Workers,10.3,8.8,7.7,8.5,8,7.1,7,6.2,...,3,2.4,2,1.4,1.6,1.2,1.4,1.4,1.2,Male
357,Employed Male Residents Aged 65 Years & Over,Plant & Machine Operators & Assemblers,27.2,24.2,25.4,21.2,20.4,20.1,16.9,16.5,...,6.5,5.9,5.4,3.3,3.4,3.4,3,2.3,2.5,Male
358,Employed Male Residents Aged 65 Years & Over,"Cleaners, Labourers & Related Workers",32.6,26.3,23.8,22.3,21.5,19.1,18.3,21.2,...,11,9.1,8.6,5,4.5,6.4,5.7,4.7,4,Male
359,Employed Male Residents Aged 65 Years & Over,Others,1.3,1.7,0.8,1.2,1.1,0.7,0.8,0.8,...,-,0.1,-,0.1,-,0.1,-,-,-,Male

In [56]:
# Change Age Group column value
age_grouping = {
    "All Ages (All Employed Residents)": "All Ages",
    "Employed Residents Aged 15 - 19 Years": "15-19 Years Old",
    "Employed Residents Aged 20 - 24 Years": "20-24 Years Old",
    "Employed Residents Aged 25 - 29 Years": "25-29 Years Old",
    "Employed Residents Aged 30 - 34 Years": "30-34 Years Old",
    "Employed Residents Aged 35 - 39 Years": "35-39 Years Old",
    "Employed Residents Aged 40 - 44 Years": "40-44 Years Old",
    "Employed Residents Aged 45 - 49 Years": "45-49 Years Old",
    "Employed Residents Aged 50 - 54 Years": "50-54 Years Old",
    "Employed Residents Aged 55 - 59 Years": "55-59 Years Old",
    "Employed Residents Aged 60 - 64 Years": "60-64 Years Old",
    "Employed Residents Aged 65 Years & Over": "65 Years & Over",

    "Employed Female Residents Aged 15 - 19 Years": "15-19 Years Old",
    "Employed Female Residents Aged 20 - 24 Years": "20-24 Years Old",
    "Employed Female Residents Aged 25 - 29 Years": "25-29 Years Old",
    "Employed Female Residents Aged 30 - 34 Years": "30-34 Years Old",
    "Employed Female Residents Aged 35 - 39 Years": "35-39 Years Old",
    "Employed Female Residents Aged 40 - 44 Years": "40-44 Years Old",
    "Employed Female Residents Aged 45 - 49 Years": "45-49 Years Old",
    "Employed Female Residents Aged 50 - 54 Years": "50-54 Years Old",
    "Employed Female Residents Aged 55 - 59 Years": "55-59 Years Old",
    "Employed Female Residents Aged 60 - 64 Years": "60-64 Years Old",
    "Employed Female Residents Aged 65 Years & Over": "65 Years & Over",

    "Employed Male Residents Aged 15 - 19 Years": "15-19 Years Old",
    "Employed Male Residents Aged 20 - 24 Years": "20-24 Years Old",
    "Employed Male Residents Aged 25 - 29 Years": "25-29 Years Old",
    "Employed Male Residents Aged 30 - 34 Years": "30-34 Years Old",
    "Employed Male Residents Aged 35 - 39 Years": "35-39 Years Old",
    "Employed Male Residents Aged 40 - 44 Years": "40-44 Years Old",
    "Employed Male Residents Aged 45 - 49 Years": "45-49 Years Old",
    "Employed Male Residents Aged 50 - 54 Years": "50-54 Years Old",
    "Employed Male Residents Aged 55 - 59 Years": "55-59 Years Old",
    "Employed Male Residents Aged 60 - 64 Years": "60-64 Years Old",
    "Employed Male Residents Aged 65 Years & Over": "65 Years & Over",
}

combined["Age Group"] = combined["Age Group"].replace(age_grouping)

In [57]:
# Change Age Group column value
occupation_clean = {
    "Total (All Occupations)": "All Occupations"
}

combined["Occupation"] = combined["Occupation"].replace(occupation_clean)

In [58]:
# Save the output file as csv
combined.to_csv("clean_data_combined.csv", index=False)